* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.content {
    flex: 1;
    padding: 30px 50px;
    box-sizing: border-box;
    min-width: 0;
    background-color: white;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-bottom: 1px solid #d3d3d3;

    padding-bottom: 15px;
    margin-bottom: 35px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.notification-icon {
    font-size: 28px;
}

.user-avatar-top {
    width: 55px;
    height: 55px;

    border-radius: 50%;

    background-color: #8B2C2C;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.logo {
    color: #243247;
    font-size: 22px;
}

h1 {
    color: #8B2C2C;
    margin-bottom: 30px;
}

.table-container {
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f0f0f0;
    text-align: left;
    padding: 15px;
}

td {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
}

.student-cell {
    display: flex;
    align-items: center;
    gap: 15px;
}

.student-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: #8B2C2C;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.view-button {
    background-color: #8B2C2C;
    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 4px;

    cursor: pointer;
}

.view-button:hover {
    opacity: 0.9;
}