<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedrijf - Stageovereenkomsten</title>

    <link rel="stylesheet" href="../CSS/bedrijf-stageovereenkomst-overzicht.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>


<aside class="sidebar">
        <div>
            <div class="sidebar-title">Bedrijf</div>

            <a href="/bedrijf/home" class="menu-item">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>

            <a href="/bedrijf-stageovereenkomst-overzicht" class="menu-item active">
                <i class="fa-solid fa-users"></i>
                <span>Stagiairs</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-book"></i>
                <span>Logboeken</span>
            </a>

            <a href="/bedrijf/evaluatie" class="menu-item">
                <i class="fa-solid fa-clipboard-check"></i>
                <span>Evaluatie</span>
            </a>

            <a href="/rubriek" class="menu-item">
                <i class="fa-solid fa-table"></i>
                <span>Rubriek</span>
            </a>
        </div>

        <a href="/logout" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Uitloggen</span>
        </a>
    </aside>



    <div class="content">

        <div class="topbar">

            <div class="topbar-right">

                <div class="notification-icon">🔔</div>

                <div class="user-avatar-top">
                    IM
                </div>

                <div class="logo">
                    EBSC
                </div>

            </div>

        </div>

        <h1>Mijn stagiairs</h1>

        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Opleiding</th>
                        <th>Stageperiode</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="stagiairsTabel"></tbody>

            </table>

        </div>

    </div>


    <script src="/JS/bedrijf-stageovereenkomst-overzicht.js"></script>
</body>

</html>