<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weeklogboek</title>

    <link rel="stylesheet" href="../CSS/logboeken.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<aside class="sidebar">

    <div>

        <div class="sidebar-title">Bedrijf</div>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Stagiairs</span>
        </a>

        <a href="bedrijflogboeken.html" class="menu-item active">
            <i class="fa-solid fa-book"></i>
            <span>Logboeken</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-clipboard-check"></i>
            <span>Evaluatie</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Profiel</span>
        </a>

    </div>

    <a href="#" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        Uitloggen
    </a>

</aside>

<main class="main-content">

    <header class="topbar">

        <i class="fa-regular fa-bell"></i>

        <div class="user-circle">
            IM
        </div>

        <span class="ehb-logo">
            ebsc
        </span>

    </header>

    <section class="content">

        <h1>Weeklogboek</h1>

        <div class="logboek-table-card">

            <table class="logboek-table">

                <thead>

                    <tr>
                        <th>Dag</th>
                        <th>Status</th>
                        <th>Actie</th>
                    </tr>

                </thead>

                <tbody id="daglogboekenTabel">
                </tbody>
       
            </table>

        </div>

        <div class="competenties-section">

            <h2>Feedback</h2>

            <textarea
                placeholder="Schrijf hier feedback voor de student..."
                style="width:100%; height:180px;">
            </textarea>

        </div>

        <div class="form-actions">

            <a href="bedrijfstudentlogboeken.html"
   class="concept-btn">

                Terug

            </a>

            <button class="submit-btn">

                Goedkeuren

            </button>

        </div>

    </section>

</main>
<script src="../JS/bedrijfLogboeken.js"></script>
</body>
</html>