<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedrijf - Stageovereenkomsten</title>

    <link rel="stylesheet" href="../CSS/bedrijf-stageovereenkomst-overzicht.css">
</head>

<body>

    <div class="sidebar">

        <ul>
            <li>Home</li>
            <li class="active">Stagiairs</li>
            <li>Logboeken</li>
            <li>Evaluatie</li>
            <li>Profiel</li>
        </ul>

        <div class="logout">
            Uitloggen
        </div>

    </div>

    <div class="content">

        <div class="topbar">

            <div class="topbar-right">

                <div class="notification-icon">🔔</div>

                <div class="user-avatar-top">
                    IM
                </div>

                <div class="logo">
                    EBSC
                </div>

            </div>

        </div>

        <h1>Mijn stagiairs</h1>

        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Opleiding</th>
                        <th>Stageperiode</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="stagiairsTabel"></tbody>

            </table>

        </div>

    </div>


    <script src="/JS/bedrijf-stageovereenkomst-overzicht.js"></script>
</body>

</html>