<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn Logboeken</title>

    <link rel="stylesheet" href="../CSS/logboeken.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<aside class="sidebar">

    <div>


        <a href="#" class="menu-item">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-briefcase"></i>
            <span>Stageovereenkomst</span>
        </a>

        <a href="#" class="menu-item active">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Studenten</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Profiel</span>
        </a>

    </div>

    <a href="#" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        Uitloggen
    </a>

</aside>

<main class="main-content">

    <header class="topbar">

        <i class="fa-regular fa-bell"></i>

        <div class="user-circle">
            IM
        </div>

        <span class="ehb-logo">
            ebsc
        </span>

    </header>

    <section class="content">

        <h1>Mijn logboeken</h1>

        <div class="logboek-table-card">

            <table class="logboek-table">

                <thead>

                    <tr>
                        <th>Week</th>
                        <th>Periode</th>
                        <th>Status</th>
                        <th>Actie</th>
                    </tr>

                </thead>

                <tbody id="weeklogboekenTabel"> 


                </tbody>

            </table>

        </div>

        <div class="form-actions">

            <a href="docentstudentdetails.html"
               class="submit-btn">

                Terug

            </a>

        </div>

    </section>

</main>
<script src="../JS/docentLogboeken.js"></script>
</body>
</html>