<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stageaanvraag</title>

    <link rel="stylesheet" href="../CSS/stageaanvraag.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <aside class="sidebar">

        <div>
            <div class="sidebar-title">
                Student
            </div>

            <a href="#" class="menu-item active">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Stageaanvraag</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-book"></i>
                <span>Logboeken</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-clipboard-check"></i>
                <span>Evaluatie</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-user"></i>
                <span>Profiel</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>
        </div>

        <a href="#" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Uitloggen
        </a>

    </aside>

    <main class="main-content">

        <header class="topbar">

            <i class="fa-regular fa-bell"></i>

            <div class="user-circle">
                NA
            </div>

            <span class="ehb-logo">
                ehbc
            </span>

        </header>

        <section class="content">

            <h1>Stageaanvraag</h1>

            <div class="alert-box">
                <i class="fa-solid fa-circle-info"></i>
                <span>Je hebt momenteel enkel toegang tot de stageaanvraag</span>
            </div>

            <div class="stage-card">
                <h2>Jouw stageaanvraag</h2>

                <a href="/student/stageaanvraagformulier.html" class="submit-btn">
                    Nieuwe stageaanvraag
                </a>
            </div>

        </section>

    </main>

    <script src="../JS/stageaanvraag.js"></script>

</body>

</html>