<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stagecommissie - Stageovereenkomsten</title>

    <link rel="stylesheet" href="../CSS/stageaanvraag.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/stagecommissie-stageovereenkomst-overzicht.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <!-- SIDEBAR -->

    <aside class="sidebar">
        <div>
            <div class="sidebar-title">Stagecommissie</div>

            <a href="/stagecommissie/home" class="menu-item">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>

            <a href="/stagecommissie/stageaanvragen" class="menu-item">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Stageaanvragen</span>
            </a>

            <a href="/stagecommissie-stageovereenkomst-overzicht" class="menu-item active">
                <i class="fa-solid fa-clipboard-check"></i>
                <span>Stageovereenkomst</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-user"></i>
                <span>Profiel</span>
            </a>
        </div>

        <a href="/logout" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Uitloggen</span>
        </a>
    </aside>

    <!-- CONTENT -->

    <div class="content">

        <!-- TOPBAR -->
        <header class="topbar admin-topbar">
            <div></div>
            <div class="topbar-right">
                <i class="fa-regular fa-bell"></i>
                <div class="user-circle">SC</div>
                <span class="ehb-logo">ehbc</span>
            </div>
        </header>

        <h1>Stageovereenkomsten</h1>

        <div class="table-container">

            <table>

                <thead>
                    <tr>

                        <th>Student</th>
                        <th>Opleiding</th>
                        <th>Stageperiode</th>
                        <th>Status</th>
                        <th></th>


                    </tr>
                </thead>

                <tbody id="overeenkomstenTabel">
                </tbody>

            </table>

        </div>

    </div>

    <script src="/JS/stagecommissie-stageovereenkomst-overzicht.js"></script>

</body>

</html>