<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Feedback afgekeurd</title>
    <link rel="stylesheet" href="../CSS/stageaanvraag.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<aside class="sidebar">
    <div>
        <div class="sidebar-title">Stagecommissie</div>

        <a href="/stagecommissie/home" class="menu-item">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>

        <a href="/stagecommissie/stageaanvragen" class="menu-item active">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Stageaanvragen</span>
        </a>

        <a href="/stagecommissie-stageovereenkomst-overzicht" class="menu-item">
            <i class="fa-solid fa-clipboard-check"></i>
            <span>Stageovereenkomst</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Profiel</span>
        </a>
    </div>

    <a href="/logout" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Uitloggen</span>
    </a>
</aside>

<main class="main-content">
    <header class="topbar">
        <i class="fa-regular fa-bell"></i>
        <div class="user-circle">SC</div>
        <span class="ehb-logo">ehbc</span>
    </header>

    <section class="content">
        <h1>Stageaanvragen</h1>

        <div class="feedback-result">
            <h2>Feedback</h2>
            <h3 class="feedback-red">Afgekeurd!</h3>

     <div class="feedback-box">
    <strong>Feedback van de stagecommissie</strong>

    <textarea
        id="commissieFeedback"
        class="feedback-textarea"
        placeholder="Schrijf hier waarom de aanvraag werd afgekeurd..."
    ></textarea>
</div>

<div class="feedback-buttons">

    <button class="feedback-indienen-btn" data-status="afgekeurd">
        Indienen
    </button>

<button
    type="button"
    id="terugKnop"
    class="feedback-terug-btn"
>
    Terug
</button>

</div>
        </div>
    </section>
</main>

<script src="../JS/stageaanvraag.js"></script>
</body>
</html>