<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>

    <link rel="stylesheet" href="../CSS/stageaanvraag.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<aside class="sidebar">

    <div>
        <div class="sidebar-title">Student</div>

        <a href="/student/home" class="menu-item active">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>

        <a href="/student/stageaanvraag" class="menu-item">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Stageaanvraag</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-book"></i>
            <span>Logboeken</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-clipboard-check"></i>
            <span>Evaluatie</span>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Profiel</span>
        </a>
    </div>

    <a href="/logout" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Uitloggen</span>
    </a>

</aside>

<main class="main-content">

    <header class="topbar">
        <i class="fa-regular fa-bell"></i>

        <div class="user-circle">
            ST
        </div>

        <span class="ehb-logo">
            ehbc
        </span>
    </header>

    <section class="content">
        <h1>Welkom terug!</h1>

        <p class="subtitle">
            Welkom terug op het stageplatform.
        </p>
    </section>

</main>

    <script src="../JS/studenthome.js"></script>

</body>

</html>