<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagelijks logboek</title>

    <link rel="stylesheet" href="../CSS/logboeken.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <aside class="sidebar">

        <div>
            <div class="sidebar-title">Student</div>

            <a href="/student/stageaanvraag" class="menu-item">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Stageaanvraag</span>
            </a>

            <a href="/student/home" id="homeLink" class="menu-item ">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>


            <a href="/student/logboeken" class="menu-item active">
                <i class="fa-solid fa-book"></i>
                <span>Logboeken</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>

            <a href="#" id="evaluatieLink" class="menu-item">
                <i class="fa-solid fa-clipboard-check"></i>
                <span>Evaluatie</span>
                <i class="fa-solid fa-lock lock"></i>
            </a>

            <a href="/rubriek" class="menu-item">
                <i class="fa-solid fa-table"></i>
                <span>Rubriek</span>
            </a>

        </div>

        <a href="/logout" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Uitloggen</span>
        </a>

    </aside>

    <main class="main-content">

        <header class="topbar">
            <i class="fa-regular fa-bell"></i>
            <div class="user-circle">NA</div>
            <span class="ehb-logo">ebsc</span>
        </header>

        <section class="content daglogboek-page">

            <h1>Dagelijks logboek</h1>

            <div class="dag-form">

                <div class="form-row">
                    <label>Datum</label>
                    <input type="date" id="datum">
                </div>

                <div class="form-row">
                    <label>Aantal uren</label>
                    <input type="number" id="aantalUren">
                </div>

                <div class="form-row large">
                    <label>Taken van vandaag</label>
                    <textarea id="taken"></textarea>
                </div>

                <div class="form-row large">
                    <label>Wat heb ik geleerd?</label>
                    <textarea id="geleerd"></textarea>
                </div>

                <div class="form-row large">
                    <label>Problemen / moeilijkheden</label>
                    <textarea id="problemen"></textarea>
                </div>

            </div>

            <div class="competenties-section">

                <h2>Competenties</h2>
                <p>Duid jouw competenties aan</p>

                <div class="competenties-grid">

                    <button class="competentie-btn">Planning</button>
                    <button class="competentie-btn">Ontwerp</button>
                    <button class="competentie-btn">Implementatie</button>

                    <button class="competentie-btn">Integratie</button>
                    <button class="competentie-btn">Onderzoek</button>
                    <button class="competentie-btn">Communicatie</button>

                    <button class="competentie-btn">Probleemoplossing</button>
                    <button class="competentie-btn">Groei</button>
                    <button class="competentie-btn">Professionaliteit</button>

                    <button class="competentie-btn">Ondernemerschap</button>
                    <button class="competentie-btn">Ethiek</button>

                </div>

            </div>

            <div class="form-actions">
                <a id="terugKnop" href="#" class="concept-btn">
                    Terug
                </a>

                <button id="opslaanBtn" class="submit-btn">
                    Opslaan
                </button>
            </div>
        </section>

    </main>
    <script src="/JS/student-toegang.js"></script>
<script src="../JS/logboeken.js"></script>
</body>

</html>