<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weeklogboek</title>

    <link rel="stylesheet" href="../CSS/logboeken.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <aside class="sidebar">
        <div>
            <div class="sidebar-title">Student</div>

            <a href="/student/stageaanvraag" class="menu-item">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Stageaanvraag</span>
            </a>

            <a href="/student/home" class="menu-item">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>

            <a href="/student/logboeken" class="menu-item active">
                <i class="fa-solid fa-book"></i>
                <span>Logboeken</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-clipboard-check"></i>
                <span>Evaluatie</span>
            </a>

        </div>

        <a href="/logout" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Uitloggen
        </a>
    </aside>

    <main class="main-content">
        <div id="successMessage" class="success-message"></div>
        <header class="topbar">
            <i class="fa-regular fa-bell"></i>
            <div class="user-circle">NA</div>
            <span class="ehb-logo">ebsc</span>
        </header>

        <section class="content">

            <div class="page-header">

                <h1>Mijn logboeken</h1>


            </div>


            <div id="weekControle"></div>

            <div class="logboek-table-card">

                <table class="logboek-table">

                    <thead>
                        <tr>
                            <th>Dag</th>
                            <th>Status</th>
                            <th>Actie</th>
                        </tr>
                    </thead>

                    <tbody id="dagenTabel"></tbody>

                </table>

            </div>
            <div id="weekActies" class="form-actions">
            </div>

            <div class="form-actions">
                <a href="/student/logboeken" class="submit-btn">
                    Terug
                </a>
            </div>
        </section>

    </main>

    <script src="/JS/student-weeklogboek.js"></script>

</body>

</html>